In [1]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv("yellow_tripdata_2015-07.csv")

In [17]:
df1 = df.drop(['VendorID', 'passenger_count', 'pickup_longitude', 'pickup_latitude', 
              'RatecodeID', 'dropoff_longitude', 'dropoff_latitude', 'mta_tax', 
              'tolls_amount', 'improvement_surcharge', 'total_amount', 'extra',
              'store_and_fwd_flag', 'Unnamed: 21'], axis=1)
#print(df.dtypes)

In [24]:
df1.head(1000)

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,payment_type,fare_amount,tip_amount,PickupCell,DropoffCell
0,2015-07-01 00:00:00,2015-07-01 00:15:26,3.50,2,14.0,0.00,24:68,22:60
1,2015-07-01 00:00:00,2015-07-01 00:22:22,3.90,2,17.0,0.00,23:64,25:71
2,2015-07-01 00:00:00,2015-07-01 00:07:42,2.30,2,9.0,0.00,25:64,22:69
3,2015-07-01 00:00:00,2015-07-01 00:39:37,9.20,1,33.0,8.55,25:69,41:84
4,2015-07-01 00:00:00,2015-07-01 00:05:34,1.10,1,6.0,2.00,35:55,35:58
5,2015-07-01 00:00:00,2015-07-01 00:06:46,1.00,2,6.5,0.00,27:60,26:62
6,2015-07-01 00:00:00,2015-07-01 00:36:57,19.12,1,54.5,13.95,69:61,39:82
7,2015-07-01 00:00:00,2015-07-01 06:30:15,0.00,2,2.5,0.00,NaN,NaN
8,2015-07-01 00:00:00,2015-07-01 11:27:07,2.58,1,15.0,1.00,24:70,23:63
9,2015-07-01 00:00:00,2015-07-01 00:00:00,1.07,1,7.5,1.66,26:71,24:73
10,2015-07-01 00:00:00,2015-07-01 18:37:13,3.55,1,16.0,3.62,26:61,27:71
11,2015-07-01 00:00:02,2015-07-01 00:06:59,1.80,1,8.0,2.30,31:78,35:74
12,2015-07-01 00:00:02,2015-07-01 00:19:19,11.40,1,32.0,7.75,43:50,26:65
13,2015-07-01 00:00:02,2015-07-01 00:19:33,4.30,1,17.0,3.65,27:77,24:67
14,2015-07-01 00:00:02,2015-07-01 00:39:16,8.85,1,32.5,0.00,24:68,42:72
15,2015-07-01 00:00:02,2015-07-01 00:05:04,0.85,2,5.5,0.00,27:68,25:69
16,2015-07-01 00:00:02,2015-07-01 00:30:11,13.04,1,39.0,8.06,41:50,24:67
17,2015-07-01 00:00:03,2015-07-01 00:07:23,1.50,2,7.0,0.00,25:73,23:71
18,2015-07-01 00:00:03,2015-07-01 00:14:37,3.30,1,13.5,1.00,NaN,NaN
19,2015-07-01 00:00:03,2015-07-01 00:20:35,5.20,2,19.5,0.00,25:66,24:51
20,2015-07-01 00:00:04,2015-07-01 00:04:29,1.30,1,6.0,1.45,27:60,27:57
21,2015-07-01 00:00:04,2015-07-01 00:08:53,1.71,1,8.5,1.96,28:64,25:68
22,2015-07-01 00:00:05,2015-07-01 00:19:16,3.40,2,15.5,0.00,22:69,29:72
23,2015-07-01 00:00:05,2015-07-01 00:18:07,5.70,1,19.0,5.05,27:70,33:57
24,2015-07-01 00:00:06,2015-07-01 00:21:20,8.10,1,25.5,5.00,41:50,23:56
25,2015-07-01 00:00:06,2015-07-01 00:10:30,2.52,2,10.5,0.00,25:72,25:65
26,2015-07-01 00:00:06,2015-07-01 00:04:44,0.77,2,5.0,0.00,25:66,27:66
27,2015-07-01 00:00:06,2015-07-01 00:12:04,2.76,2,11.5,0.00,36:81,35:74
28,2015-07-01 00:00:07,2015-07-01 00:19:04,3.90,2,15.5,0.00,26:62,25:74
29,2015-07-01 00:00:07,2015-07-01 00:09:09,2.35,1,9.5,1.50,23:65,22:60
...,...,...,...,...,...,...,...,...
970,2015-07-01 00:04:51,2015-07-01 00:42:10,19.20,1,52.0,10.00,65:59,22:62
971,2015-07-01 00:04:52,2015-07-01 00:09:53,1.10,1,5.5,1.00,23:71,24:68
972,2015-07-01 00:04:52,2015-07-01 00:21:17,5.20,1,18.5,2.00,25:64,29:72
973,2015-07-01 00:04:52,2015-07-01 00:16:39,2.80,1,11.5,2.00,26:64,23:70
974,2015-07-01 00:04:52,2015-07-01 00:16:27,2.67,1,11.0,0.00,27:64,27:57
975,2015-07-01 00:04:52,2015-07-01 00:22:43,4.05,1,15.5,3.36,26:78,25:69
976,2015-07-01 00:04:52,2015-07-01 00:10:32,1.18,1,6.0,1.46,26:70,28:67
977,2015-07-01 00:04:52,2015-07-01 00:18:07,2.26,1,10.5,2.36,25:65,25:70
978,2015-07-01 00:04:53,2015-07-01 00:07:58,0.80,2,5.0,0.00,27:71,27:69
979,2015-07-01 00:04:53,2015-07-01 00:15:41,1.90,2,9.5,0.00,26:69,27:65
980,2015-07-01 00:04:53,2015-07-01 00:18:32,2.20,1,11.0,2.45,28:62,27:68
981,2015-07-01 00:04:53,2015-07-01 00:15:43,2.16,2,10.0,0.00,35:69,41:69
982,2015-07-01 00:04:53,2015-07-01 00:28:57,6.12,1,22.0,4.66,27:77,26:66
983,2015-07-01 00:04:53,2015-07-01 00:09:26,1.30,1,6.0,1.00,24:72,25:69
984,2015-07-01 00:04:53,2015-07-01 00:21:11,11.40,2,31.5,0.00,70:60,47:58
985,2015-07-01 00:04:53,2015-07-01 00:26:31,5.37,1,19.0,4.06,27:76,41:77
986,2015-07-01 00:04:55,2015-07-01 00:13:25,1.38,2,7.5,0.00,27:64,24:64
987,2015-07-01 00:04:55,2015-07-01 00:21:18,10.14,1,28.5,7.07,43:50,22:45
988,2015-07-01 00:04:55,2015-07-01 00:14:38,2.47,1,10.0,2.26,29:61,25:66
989,2015-07-01 00:04:55,2015-07-01 00:08:59,1.02,1,5.5,1.36,27:67,27:70
990,2015-07-01 00:04:55,2015-07-01 00:18:12,1.35,1,10.0,2.26,24:64,27:64
991,2015-07-01 00:04:55,2015-07-01 00:05:45,0.35,1,3.0,0.86,25:67,25:68
992,2015-07-01 00:04:56,2015-07-01 00:15:11,2.20,1,9.5,2.70,25:66,27:70
993,2015-07-01 00:04:56,2015-07-01 00:31:05,6.72,1,24.5,5.00,26:72,23:58
994,2015-07-01 00:04:56,2015-07-01 00:23:02,4.15,1,15.5,1.50,23:63,29:70
995,2015-07-01 00:04:57,2015-07-01 00:48:18,12.34,2,41.0,0.00,25:68,38:91
996,2015-07-01 00:04:57,2015-07-01 00:10:35,0.60,2,5.5,0.00,26:74,28:74
997,2015-07-01 00:04:57,2015-07-01 00:22:24,2.87,1,13.5,2.96,26:66,22:63
998,2015-07-01 00:04:58,2015-07-01 00:20:11,3.38,1,13.5,2.96,28:73,35:74
999,2015-07-01 00:04:58,2015-07-01 00:16:44,2.62,1,11.0,2.46,24:65,29:60

In [19]:
str(df['DropoffCell'])

'0           22:60\n1           25:71\n2           22:69\n3           41:84\n4           35:58\n5           26:62\n6           39:82\n7             NaN\n8           23:63\n9           24:73\n10          27:71\n11          35:74\n12          26:65\n13          24:67\n14          42:72\n15          25:69\n16          24:67\n17          23:71\n18            NaN\n19          24:51\n20          27:57\n21          25:68\n22          29:72\n23          33:57\n24          23:56\n25          25:65\n26          27:66\n27          35:74\n28          25:74\n29          22:60\n            ...  \n11562753    27:77\n11562754    34:69\n11562755    25:71\n11562756    28:70\n11562757    32:66\n11562758    24:57\n11562759    23:59\n11562760    27:55\n11562761    25:68\n11562762    26:67\n11562763    28:68\n11562764    28:68\n11562765    27:70\n11562766    27:72\n11562767    28:62\n11562768    26:65\n11562769    27:69\n11562770    26:64\n11562771    26:65\n11562772    25:71\n11562773    29:59\n11562774    23:70\n11562775    25:69\n11562776    23:72\n11562777    25:66\n11562778    26:65\n11562779    26:63\n11562780    25:65\n11562781    27:67\n11562782    27:63\nName: DropoffCell, Length: 11562783, dtype: object'

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, pickup_longitude, pickup_latitude, RatecodeID, store_and_fwd_flag, dropoff_longitude, dropoff_latitude, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, PickupCell, DropoffCell, Unnamed: 21]
Index: []

[0 rows x 22 columns]

In [2]:
import sys
import json
import datetime
from datetime import timedelta
import dateutil.parser
import random
def play_turn(current_datetime, currentCell, neighbours):
    next_move=random.choice (neighbours)
    print("NextMove:"+next_move)
    return {"state":"FORHIRE","action":"MOVE","moveTo":next_move}
def first_move(start_datetime):
    start_datetime = start_datetime + timedelta(hours=4) 
    next_move = "32:45"
    return {"defer":start_datetime,"moveTo":next_move}
def next_shift(current_time):
    start_datetime = current_time + timedelta(hours=9) 
    next_move = "32:45"
    return {"defer":start_datetime,"moveTo":next_move}

while(1) :
    req = json.loads(sys.stdin.readline())
    reqtype = req['type']
    current_datetime = dateutil.parser.parse(req['time'])
    if(reqtype=="FIRSTMOVE"):
        action = first_move(current_datetime)
        #Create response named list that will be converted to JSON
        resp = {}
        resp["defer"]=action['defer'].strftime("%Y-%m-%dT%H:%M")
        resp["nextMove"]="REPOSITION"
        resp["moveTo"]=action['moveTo']
        print("MAST30034:" + json.dumps(resp))
        sys.stdout.flush()
    elif(reqtype=="PLAYTURN"):
        current_cell = req['currentCell']
        neighbours = req['neighbours']
        action=play_turn(current_datetime, current_cell, neighbours)
        print("MAST30034:" + json.dumps(action))
        sys.stdout.flush()
    elif(reqtype=="NEXTSHIFT"):
        action=next_shift(current_datetime)
        #Create response named list that will be converted to JSON
        resp = {}
        resp["defer"]=action['defer'].strftime("%Y-%m-%dT%H:%M")
        resp["nextMove"]="REPOSITION"
        resp["moveTo"]=action['moveTo']
        print("MAST30034:" + json.dumps(resp))
        sys.stdout.flush()

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [6]:
import sys, json;
data = json.load(sys.stdin)
for station in data["df"]:
    print(json.dumps(station))

JSONDecodeError: Expecting value: line 1 column 1 (char 0)