In [1]:
#Any general code that you want to reuse in the following answers
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas.plotting import parallel_coordinates
import datetime as dt
import calendar
import geopandas as gpd
from sklearn.cluster import KMeans
from sklearn import metrics
from scipy.spatial.distance import cdist

In [10]:
lookup = pd.read_csv('lookup.csv', encoding = 'ISO-8859-1')
lookup['cell'] = '(' + lookup['column'].map(str) +', ' + lookup['row'].map(str) + ')'
lookup = lookup.set_index('cell')
#lookup.to_csv('lookup_edit.csv', index=False, index_col=True)

In [13]:
df = pd.read_csv('Mon_new.csv', encoding = 'ISO-8859-1')

In [20]:
Mon_shift = pd.DataFrame()
Mon_shift['cluster'] = sorted(list(lookup.cluster.unique()))
Mon_shift.set_index('cluster')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [21]:
hr_g = df.groupby('hour')
hr_g.groups.keys()

dict_keys([12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23])

In [30]:
for i in hr_g.groups.keys():
    index = list(hr_g.groups[i])
    mid = df.iloc[index,:]
    sub = mid[['pick_col','pick_row']]
    location = sub.groupby(['pick_col','pick_row'])
    for j in location.groups.keys():
        clu = int(df[df.index==str(j)]['cluster'])

/Users/apple/anaconda3/lib/python3.6/site-packages/pandas/core/indexes/base.py:111: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = op(self.values, np.asarray(other))

KeyError: False

In [27]:
ind = list(hr_g.groups[12])
sub = df.iloc[ind,:]
t = sub.groupby(['pick_col','pick_row'])

In [164]:
lookup[lookup['cell']==str((20, 42))]

(20, 42)

In [179]:
lookup['cell'] = '(' + lookup['column'].map(str) +', ' + lookup['row'].map(str) + ')'

In [198]:
lookup.iloc(lookup['row'] == 20 & lookup['column']==42)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [201]:
lookup[(lookup['column']==20) and (lookup['row']==42)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [217]:
ds = pd.read_csv('lookup.csv', encoding = 'ISO-8859-1')

In [218]:
ds.head()

   row  column  cluster
0    0       0       13
1    1       0       13
2    2       0       13
3    3       0       13
4    4       0       13