In [2]:
import glob
import pandas as pd

In [2]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [3]:
all_filenames

['sample2w-2015-03.csv',
 'sample2w-2015-02.csv',
 'sample2w-2015-01.csv',
 'sample2w-2015-05.csv',
 'sample2w-2015-11.csv',
 'sample2w-2015-10.csv',
 'sample2w-2015-04.csv',
 'sample2w-2015-12.csv',
 'sample2w-2015-06.csv',
 'sample2w-2015-07.csv',
 'sample2w-2015-09.csv',
 'sample2w-2015-08.csv']

In [4]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

In [5]:
combined_csv

,Unnamed: 0,tpep_dropoff_datetime,passenger_count,trip_distance,dropoff_longitude,dropoff_latitude,tip_amount
0,3946153,2015-03-25 10:25:41,1,1.60,-73.994713,40.765678,0.00
1,356673,2015-03-15 11:19:11,1,2.80,-74.000633,40.708443,2.00
2,11082633,2015-03-13 12:40:45,5,2.14,-73.968643,40.767281,3.32
3,3165652,2015-03-15 22:34:45,3,3.00,-73.959854,40.798512,1.00
4,7074517,2015-03-12 02:35:23,1,1.53,-73.973373,40.755203,1.76
5,9225115,2015-03-19 11:51:25,1,1.00,-73.985008,40.759335,1.80
6,13270277,2015-03-03 11:09:52,2,1.98,-73.970566,40.759033,2.50
7,8061959,2015-03-20 16:07:07,2,2.18,-73.984085,40.756111,0.00
8,6949550,2015-03-20 00:02:50,2,1.21,-73.988327,40.749355,0.00
9,2456644,2015-03-25 21:14:16,1,2.34,-73.993011,40.747883,2.36
10,3082215,2015-03-04 15:32:21,2,0.87,-73.957161,40.779961,1.46
11,12200741,2015-03-02 23:32:56,1,2.50,-74.002411,40.748791,0.00
12,5172907,2015-03-24 17:49:45,1,2.39,-73.952248,40.772957,3.84
13,8873201,2015-03-03 06:56:01,1,2.73,-73.980263,40.752258,2.95
14,10976644,2015-03-09 20:04:09,1,1.53,-74.005150,40.735901,2.36
15,1751579,2015-03-02 16:40:06,2,0.46,-73.955307,40.774391,0.00
16,875771,2015-03-13 12:42:50,1,2.33,-73.964706,40.757725,0.00
17,11680580,2015-03-13 19:25:57,5,2.10,-73.946480,40.806492,4.00
18,4953852,2015-03-23 16:44:36,1,0.40,-73.979637,40.757992,0.00
19,2428115,2015-03-13 19:57:31,2,5.68,-73.979240,40.742111,5.08
20,7183250,2015-03-03 17:11:16,1,0.60,-73.996422,40.745399,1.35
21,2618100,2015-03-24 13:04:21,1,13.65,-73.973373,40.677505,0.00
22,5173864,2015-03-19 01:40:02,3,0.70,-73.986748,40.719524,1.15
23,10769356,2015-03-06 13:15:02,1,1.40,-73.980537,40.754345,0.00
24,959289,2015-03-31 07:27:27,1,3.10,-73.985260,40.767834,0.00
25,10894977,2015-03-23 19:17:46,1,4.39,-74.010460,40.713951,3.90
26,12152309,2015-03-13 14:22:05,2,1.59,-73.975853,40.776360,1.56
27,6294565,2015-03-28 13:14:21,5,0.36,-73.989182,40.763256,0.00
28,7211242,2015-03-09 08:09:54,1,1.65,-73.974350,40.759991,1.86
29,8900208,2015-03-14 14:48:51,1,0.16,-73.994774,40.721436,0.00
...,...,...,...,...,...,...,...
199970,5632238,2015-08-31 07:45:09,1,0.60,-73.966644,40.764114,0.00
199971,2188980,2015-08-21 09:48:52,1,2.93,-73.983131,40.760078,2.96
199972,2142375,2015-08-21 07:08:36,1,13.05,-73.865776,40.771008,8.87
199973,8817714,2015-08-10 10:33:18,1,3.51,-73.995728,40.724319,0.00
199974,4369597,2015-08-27 11:25:46,1,2.90,-73.983368,40.766785,3.16
199975,9649278,2015-08-12 16:46:21,2,5.25,-73.983391,40.757072,0.00
199976,705345,2015-08-18 09:05:22,1,3.41,-73.986572,40.728951,2.96
199977,10843115,2015-08-15 13:15:32,1,4.86,-73.963280,40.718861,0.00
199978,195681,2015-08-16 19:20:42,1,2.40,-73.986366,40.732433,1.96
199979,2987155,2015-08-23 11:42:18,1,4.78,-74.016884,40.705078,0.00
199980,7063710,2015-08-19 20:22:16,2,0.70,-73.979935,40.730850,0.00
199981,4053573,2015-08-26 14:40:38,1,0.70,-73.994957,40.743053,1.70
199982,1932965,2015-08-02 02:30:37,6,3.92,-73.997658,40.763939,1.50
199983,1699963,2015-08-01 20:41:49,1,4.19,-73.958870,40.716770,2.00
199984,10447531,2015-08-14 13:20:55,5,0.10,-73.992332,40.739468,0.00
199985,6881377,2015-08-20 16:15:41,2,19.70,-73.993805,40.720764,0.00
199986,9045623,2015-08-10 22:36:27,1,0.92,-73.976082,40.765671,0.00
199987,9964414,2015-08-13 12:24:15,1,2.40,-73.976807,40.759430,2.65
199988,7109500,2015-08-19 22:31:54,1,4.20,-73.946381,40.781258,3.25
199989,1032028,2015-08-03 21:13:55,2,1.58,-73.985413,40.767738,2.26
199990,2084271,2015-08-02 22:01:59,1,13.39,-73.973747,40.678886,5.00
199991,1987139,2015-08-02 16:33:01,1,8.10,-73.873016,40.774315,6.00
199992,10604229,2015-08-14 21:44:12,1,1.59,-73.982491,40.772400,1.00
199993,5995372,2015-08-18 12:54:29,1,1.20,-74.005234,40.751205,0.00
199994,3560153,2015-08-25 06:45:05,1,0.80,-73.975128,40.752174,0.00
199995,7751171,2015-08-07 09:24:55,1,0.81,-73.977051,40.755573,1.00
199996,5190519,2015-08-29 20:45:40,1,0.86,-73.993370,40.727215,0.00
199997,10285970,2015-08-14 01:37:50,1,1.21,-73.960892,40.798409,0.00
199998,1553807,2015-08-01 12:54:17,1,2.13,-74.000626,40.752499,0.00
199999,7065491,2015-08-19 20:25:11,1,1.17,-73.936096,40.795429,0.00

In [6]:
green = pd.read_csv("green_tripdata_2015-05.csv")

In [7]:
green

                                  VendorID lpep_pickup_datetime  \
2 2015-05-01 00:01:02  2015-05-01 00:06:09                    N
  2015-05-01 00:01:13  2015-05-01 00:03:37                    N
  2015-05-01 00:01:09  2015-05-01 00:09:23                    N
  2015-05-01 00:01:27  2015-05-01 00:05:32                    N
  2015-05-01 00:01:32  2015-05-01 00:07:05                    N
  2015-05-01 00:01:19  2015-05-01 00:08:19                    N
  2015-05-01 00:01:23  2015-05-01 00:52:51                    N
  2015-05-01 00:02:08  2015-05-01 00:07:57                    N
  2015-05-01 00:02:16  2015-05-01 00:08:28                    N
  2015-05-01 00:01:43  2015-05-01 00:11:48                    N
  2015-05-01 00:01:51  2015-05-01 00:19:55                    N
  2015-05-01 00:01:57  2015-05-01 00:23:47                    N
  2015-05-01 00:02:11  2015-05-01 00:26:11                    N
1 2015-05-01 00:01:48  2015-05-01 00:02:27                    N
  2015-05-01 00:01:38  2015-05-01 00:12:54                    N
2 2015-05-01 00:02:28  2015-05-01 00:02:34                    N
  2015-05-01 00:03:26  2015-05-01 00:05:36                    N
  2015-05-01 00:02:58  2015-05-01 00:06:08                    N
  2015-05-01 00:03:09  2015-05-01 00:05:34                    N
  2015-05-01 00:03:07  2015-05-01 00:06:38                    N
  2015-05-01 00:03:19  2015-05-01 00:07:42                    N
  2015-05-01 00:02:41  2015-05-01 00:08:23                    N
  2015-05-01 00:03:33  2015-05-01 00:10:03                    N
  2015-05-01 00:02:46  2015-05-01 00:11:20                    N
  2015-05-01 00:03:14  2015-05-01 00:11:41                    N
  2015-05-01 00:03:01  2015-05-01 00:11:47                    N
  2015-05-01 00:02:23  2015-05-01 00:14:41                    N
  2015-05-01 00:02:50  2015-05-01 00:14:29                    N
  2015-05-01 00:03:15  2015-05-01 00:30:26                    N
1 2015-05-01 00:03:05  2015-05-01 00:18:00                    N
...                                    ...                  ...
  2015-05-31 23:04:13  2015-05-31 23:07:17                    N
  2015-05-31 23:03:51  2015-05-31 23:27:03                    N
  2015-05-31 23:03:39  2015-05-31 23:30:17                    N
  2015-05-31 23:03:22  2015-05-31 23:15:16                    N
  2015-05-31 23:03:26  2015-05-31 23:12:37                    N
  2015-05-31 23:03:03  2015-05-31 23:24:25                    N
  2015-05-31 23:02:53  2015-05-31 23:25:55                    N
  2015-05-31 23:02:10  2015-05-31 23:19:43                    N
  2015-05-31 23:03:43  2015-05-31 23:13:49                    N
  2015-05-31 23:02:05  2015-05-31 23:12:25                    N
  2015-05-31 23:01:27  2015-05-31 23:04:15                    N
  2015-05-31 23:01:19  2015-05-31 23:01:45                    N
  2015-05-31 23:01:04  2015-05-31 23:07:01                    N
  2015-05-31 23:00:49  2015-05-31 23:28:24                    N
  2015-05-31 23:00:36  2015-05-31 23:04:28                    N
  2015-05-31 23:00:33  2015-05-31 23:12:28                    N
2 2015-05-31 23:59:15  2015-06-01 00:15:09                    N
  2015-05-31 23:58:48  2015-06-01 00:10:48                    N
  2015-05-31 23:58:55  2015-06-01 00:06:55                    N
  2015-05-31 23:02:06  2015-05-31 23:09:49                    N
  2015-05-31 23:05:09  2015-05-31 23:13:06                    N
  2015-05-31 23:14:50  2015-05-31 23:24:54                    N
  2015-05-31 23:57:21  2015-06-01 00:21:11                    N
  2015-05-31 23:48:14  2015-05-31 23:52:47                    N
  2015-05-31 23:43:35  2015-05-31 23:50:34                    N
1 2015-05-31 23:01:49  2015-05-31 23:15:15                    Y
  2015-05-31 23:35:33  2015-05-31 23:44:11                    Y
  2015-05-31 23:32:29  2015-05-31 23:37:49                    Y
  2015-05-31 23:59:54  2015-06-01 00:04:49                    N
  2015-05-31 23:10:52  2015-05-31 23:17:18                    Y

                       Lpep_dropoff_datetime  Store_and_fwd_flag  RateCodeID  \
2 2015-05-01 00:01:02                      1          -73.955620   40.680756
  2015-05-01 00:01:13                      1          -73.991470   40.691696
  2015-05-01 00:01:09                      1          -73.830673   40.759552
  2015-05-01 00:01:27                      1          -73.947647   40.687607
  2015-05-01 00:01:32                      1          -73.944878   40.808529
  2015-05-01 00:01:19                      1          -73.952507   40.810879
  2015-05-01 00:01:23                      1          -73.917572   40.823914
  2015-05-01 00:02:08                      1          -73.954369   40.820835
  2015-05-01 00:02:16                      1          -73.949478   40.714539
  2015-05-01 00:01:43                      1          -73.921600   40.743774
  2015-05-01 00:01:51                      1          -73.956841   40.716663
  2015-05-01 00:01:57                      1          -73.957336   40.718178
  2015-05-01 00:02:11                      1          -73.963539   40.710186
1 2015-05-01 00:01:48                      5          -73.926949   40.859894
  2015-05-01 00:01:38                      1          -73.952454   40.789738
2 2015-05-01 00:02:28                      5          -73.956062   40.812962
  2015-05-01 00:03:26                      1          -73.951500   40.811878
  2015-05-01 00:02:58                      1          -73.961983   40.805569
  2015-05-01 00:03:09                      1          -73.947617   40.796284
  2015-05-01 00:03:07                      1          -73.949547   40.822559
  2015-05-01 00:03:19                      1          -73.953133   40.810139
  2015-05-01 00:02:41                      1          -73.980652   40.676151
  2015-05-01 00:03:33                      1          -73.890892   40.746841
  2015-05-01 00:02:46                      1          -73.949959   40.676010
  2015-05-01 00:03:14                      1          -73.903488   40.745300
  2015-05-01 00:03:01                      1          -73.890831   40.746483
  2015-05-01 00:02:23                      1          -73.944504   40.705227
  2015-05-01 00:02:50                      1          -73.844147   40.721058
  2015-05-01 00:03:15                      1          -73.951881   40.716072
1 2015-05-01 00:03:05                      1          -73.918358   40.703857
...                                      ...                 ...         ...
  2015-05-31 23:04:13                      1          -73.957672   40.717865
  2015-05-31 23:03:51                      1          -73.982880   40.692394
  2015-05-31 23:03:39                      1          -73.933655   40.713703
  2015-05-31 23:03:22                      1          -73.961853   40.693874
  2015-05-31 23:03:26                      1          -73.884254   40.747620
  2015-05-31 23:03:03                      1          -73.945290   40.808067
  2015-05-31 23:02:53                      1          -73.987411   40.691074
  2015-05-31 23:02:10                      1          -73.962624   40.712540
  2015-05-31 23:03:43                      1          -73.957130   40.688435
  2015-05-31 23:02:05                      1          -73.949638   40.679852
  2015-05-31 23:01:27                      1          -73.957809   40.717762
  2015-05-31 23:01:19                      5          -73.960083   40.663242
  2015-05-31 23:01:04                      1          -73.869888   40.733604
  2015-05-31 23:00:49                      1          -73.870789   40.733326
  2015-05-31 23:00:36                      1          -73.911270   40.819324
  2015-05-31 23:00:33                      5          -73.832764   40.700264
2 2015-05-31 23:59:15                      1          -73.991051   40.685799
  2015-05-31 23:58:48                      1          -73.993767   40.686947
  2015-05-31 23:58:55                      1          -73.911804   40.775261
  2015-05-31 23:02:06                      1          -73.957748   40.724430
  2015-05-31 23:05:09                      1          -73.968903   40.639336
  2015-05-31 23:14:50                      1          -73.951050   40.711067
  2015-05-31 23:57:21                      1          -73.949318   40.713898
  2015-05-31 23:48:14                      1          -73.903519   40.745419
  2015-05-31 23:43:35                      1          -73.891457   40.746723
1 2015-05-31 23:01:49                      1          -73.891861   40.820747
  2015-05-31 23:35:33                      1          -73.928780   40.757385
  2015-05-31 23:32:29                      1          -73.957703   40.671471
  2015-05-31 23:59:54                      1          -73.954308   40.587437
  2015-05-31 23:10:52                      1          -73.976555   40.682964

                       Pickup_longitude  Pickup_latitude  Dropoff_longitude  \
2 2015-05-01 00:01:02        -73.961456        40.666138                  1
  2015-05-01 00:01:13        -73.992523        40.689407                  1
  2015-05-01 00:01:09        -73.862450        40.753838                  1
  2015-05-01 00:01:27        -73.946251        40.695118                  1
  2015-05-01 00:01:32        -73.936790        40.812447                  1
  2015-05-01 00:01:19        -73.946480        40.826527                  1
  2015-05-01 00:01:23        -73.971375        40.685112                  5
  2015-05-01 00:02:08        -73.941528        40.833321                  1
  2015-05-01 00:02:16        -73.944984        40.707779                  1
  2015-05-01 00:01:43        -73.922714        40.764050                  3
  2015-05-01 00:01:51        -74.005554        40.722137                  1
  2015-05-01 00:01:57        -74.002045        40.727917                  4
  2015-05-01 00:02:11        -73.961281        40.647285                  1
1 2015-05-01 00:01:48        -73.925385        40.861061                  1
  2015-05-01 00:01:38        -73.982780        40.775986                  1
2 2015-05-01 00:02:28        -73.956062        40.812939                  1
  2015-05-01 00:03:26        -73.944183        40.816410                  1
  2015-05-01 00:02:58        -73.963615        40.810043                  5
  2015-05-01 00:03:09        -73.937553        40.809994                  1
  2015-05-01 00:03:07        -73.952141        40.812279                  1
  2015-05-01 00:03:19        -73.964134        40.802299                  1
  2015-05-01 00:02:41        -73.965843        40.672447                  5
  2015-05-01 00:03:33        -73.884415        40.753761                  1
  2015-05-01 00:02:46        -73.939835        40.660694                  1
  2015-05-01 00:03:14        -73.925217        40.743649                  1
  2015-05-01 00:03:01        -73.881721        40.761520                  1
  2015-05-01 00:02:23        -73.966393        40.686668                  1
  2015-05-01 00:02:50        -73.870659        40.757057                  1
  2015-05-01 00:03:15        -73.991371        40.663788                  1
1 2015-05-01 00:03:05        -73.986420        40.718170                  1
...                                 ...              ...                ...
  2015-05-31 23:04:13        -73.957779        40.730984                  1
  2015-05-31 23:03:51        -73.956520        40.717072                  5
  2015-05-31 23:03:39        -73.959053        40.763466                  2
  2015-05-31 23:03:22        -73.991928        40.690689                  1
  2015-05-31 23:03:26        -73.895905        40.733421                  1
  2015-05-31 23:03:03        -74.003883        40.742020                  1
  2015-05-31 23:02:53        -73.931252        40.694763                  1
  2015-05-31 23:02:10        -73.934509        40.770355                  2
  2015-05-31 23:03:43        -73.930855        40.684059                  1
  2015-05-31 23:02:05        -73.944984        40.649193                  1
  2015-05-31 23:01:27        -73.962975        40.713593                  1
  2015-05-31 23:01:19        -73.960083        40.663242                  3
  2015-05-31 23:01:04        -73.805328        40.738167                  1
  2015-05-31 23:00:49        -73.858147        40.679478                  1
  2015-05-31 23:00:36        -73.906960        40.828556                  1
  2015-05-31 23:00:33        -73.889946        40.701195                  1
2 2015-05-31 23:59:15        -74.001076        40.739204                  1
  2015-05-31 23:58:48        -73.960815        40.712914                  1
  2015-05-31 23:58:55        -73.905174        40.748371                  1
  2015-05-31 23:02:06        -73.949234        40.707516                  1
  2015-05-31 23:05:09        -73.985161        40.670727                  2
  2015-05-31 23:14:50        -73.960846        40.688778                  1
  2015-05-31 23:57:21        -73.958885        40.638622                  1
  2015-05-31 23:48:14        -73.900116        40.731281                  2
  2015-05-31 23:43:35        -73.886040        40.764633                  1
1 2015-05-31 23:01:49        -73.938675        40.821533                  1
  2015-05-31 23:35:33        -73.905838        40.747002                  1
  2015-05-31 23:32:29        -73.977119        40.675175                  1
  2015-05-31 23:59:54        -73.937729        40.587490                  1
  2015-05-31 23:10:52        -73.982498        40.670712                  1

                       Dropoff_latitude  Passenger_count     ...      \
2 2015-05-01 00:01:02              1.18             6.00     ...
  2015-05-01 00:01:13              0.17             3.50     ...
  2015-05-01 00:01:09              2.36             9.50     ...
  2015-05-01 00:01:27              0.75             5.00     ...
  2015-05-01 00:01:32              0.70             5.00     ...
  2015-05-01 00:01:19              1.42             7.50     ...
  2015-05-01 00:01:23             16.07            51.50     ...
  2015-05-01 00:02:08              1.19             6.50     ...
  2015-05-01 00:02:16              0.90             6.00     ...
  2015-05-01 00:01:43              1.92             9.00     ...
  2015-05-01 00:01:51              3.41            15.00     ...
  2015-05-01 00:01:57              3.59            17.50     ...
  2015-05-01 00:02:11              5.31            20.50     ...
1 2015-05-01 00:01:48              0.10             0.00     ...
  2015-05-01 00:01:38              2.80            11.00     ...
2 2015-05-01 00:02:28              0.00            20.00     ...
  2015-05-01 00:03:26              0.63             4.00     ...
  2015-05-01 00:02:58              0.76             4.50     ...
  2015-05-01 00:03:09              1.07             5.00     ...
  2015-05-01 00:03:07              0.97             5.00     ...
  2015-05-01 00:03:19              1.00             5.50     ...
  2015-05-01 00:02:41              0.96             6.00     ...
  2015-05-01 00:03:33              0.81             6.00     ...
  2015-05-01 00:02:46              1.61             8.50     ...
  2015-05-01 00:03:14              1.31             7.50     ...
  2015-05-01 00:03:01              1.52             8.00     ...
  2015-05-01 00:02:23              2.33            11.00     ...
  2015-05-01 00:02:50              4.40            15.00     ...
  2015-05-01 00:03:15              5.76            23.00     ...
1 2015-05-01 00:03:05              4.20            15.00     ...
...                                 ...              ...     ...
  2015-05-31 23:04:13              1.00             5.00     ...
  2015-05-31 23:03:51              4.10            17.50     ...
  2015-05-31 23:03:39              6.60            23.00     ...
  2015-05-31 23:03:22              2.10            10.00     ...
  2015-05-31 23:03:26              1.60             8.00     ...
  2015-05-31 23:03:03              7.40            23.00     ...
  2015-05-31 23:02:53              4.60            18.50     ...
  2015-05-31 23:02:10              4.90            16.50     ...
  2015-05-31 23:03:43              1.90             9.00     ...
  2015-05-31 23:02:05              2.40            10.50     ...
  2015-05-31 23:01:27              0.60             4.00     ...
  2015-05-31 23:01:19              0.10            29.00     ...
  2015-05-31 23:01:04              4.00            12.50     ...
  2015-05-31 23:00:49              6.20            23.50     ...
  2015-05-31 23:00:36              0.70             5.00     ...
  2015-05-31 23:00:33              3.00             0.00     ...
2 2015-05-31 23:59:15              4.41            16.00     ...
  2015-05-31 23:58:48              5.25            16.50     ...
  2015-05-31 23:58:55              3.13            11.00     ...
  2015-05-31 23:02:06              1.54             7.50     ...
  2015-05-31 23:05:09              3.09            10.50     ...
  2015-05-31 23:14:50              2.57            10.00     ...
  2015-05-31 23:57:21              5.88            20.50     ...
  2015-05-31 23:48:14              1.33             6.50     ...
  2015-05-31 23:43:35              2.13             9.00     ...
1 2015-05-31 23:01:49              3.90            14.00     ...
  2015-05-31 23:35:33              1.90             9.00     ...
  2015-05-31 23:32:29              1.30             6.50     ...
  2015-05-31 23:59:54              0.90             5.56     ...
  2015-05-31 23:10:52              1.00             6.50     ...

                       Fare_amount  Extra  MTA_tax  Tip_amount  Tolls_amount  \
2 2015-05-01 00:01:02          0.5   0.00      0.0         NaN           0.3
  2015-05-01 00:01:13          0.5   0.00      0.0         NaN           0.3
  2015-05-01 00:01:09          0.5   0.00      0.0         NaN           0.3
  2015-05-01 00:01:27          0.5   0.00      0.0         NaN           0.3
  2015-05-01 00:01:32          0.5   0.00      0.0         NaN           0.3
  2015-05-01 00:01:19          0.5   0.00      0.0         NaN           0.3
  2015-05-01 00:01:23          0.5   0.00      0.0         NaN           0.3
  2015-05-01 00:02:08          0.5   0.00      0.0         NaN           0.3
  2015-05-01 00:02:16          0.5   0.00      0.0         NaN           0.3
  2015-05-01 00:01:43          0.5   1.96      0.0         NaN           0.3
  2015-05-01 00:01:51          0.5   3.26      0.0         NaN           0.3
  2015-05-01 00:01:57          0.5   0.00      0.0         NaN           0.3
  2015-05-01 00:02:11          0.5   4.36      0.0         NaN           0.3
1 2015-05-01 00:01:48          0.0   0.00      0.0         NaN           0.0
  2015-05-01 00:01:38          0.5   1.00      0.0         NaN           0.3
2 2015-05-01 00:02:28          0.0   0.00      0.0         NaN           0.0
  2015-05-01 00:03:26          0.5   0.00      0.0         NaN           0.3
  2015-05-01 00:02:58          0.5   1.16      0.0         NaN           0.3
  2015-05-01 00:03:09          0.5   0.00      0.0         NaN           0.3
  2015-05-01 00:03:07          0.5   0.00      0.0         NaN           0.3
  2015-05-01 00:03:19          0.5   1.00      0.0         NaN           0.3
  2015-05-01 00:02:41          0.5   1.46      0.0         NaN           0.3
  2015-05-01 00:03:33          0.5   1.46      0.0         NaN           0.3
  2015-05-01 00:02:46          0.5   0.00      0.0         NaN           0.3
  2015-05-01 00:03:14          0.5   0.00      0.0         NaN           0.3
  2015-05-01 00:03:01          0.5   0.00      0.0         NaN           0.3
  2015-05-01 00:02:23          0.5   2.46      0.0         NaN           0.3
  2015-05-01 00:02:50          0.5   0.00      0.0         NaN           0.3
  2015-05-01 00:03:15          0.5   4.86      0.0         NaN           0.3
1 2015-05-01 00:03:05          0.5   0.00      0.0         NaN           0.3
...                            ...    ...      ...         ...           ...

In [8]:
y = pd.read_csv("yellow_tripdata_2015-05.csv")
y

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2015-05-05 23:37:40,2015-05-05 23:45:41,1,2.00,-74.001678,40.739311,1,N,-73.978294,40.752110,2,8.5,0.5,0.5,0.00,0.00,0.3,9.80
1,2,2015-05-05 23:37:40,2015-05-05 23:40:36,1,0.54,-73.930840,40.744789,1,N,-73.937515,40.749359,2,4.5,0.5,0.5,0.00,0.00,0.3,5.80
2,2,2015-05-05 23:37:40,2015-05-05 23:44:03,3,2.10,-74.001411,40.731087,1,N,-73.981674,40.758282,2,8.0,0.5,0.5,0.00,0.00,0.3,9.30
3,2,2015-05-05 23:37:40,2015-05-06 00:14:01,6,10.93,-73.970673,40.758560,1,N,-73.933762,40.670544,1,36.0,0.5,0.5,9.32,0.00,0.3,46.62
4,2,2015-05-05 23:37:40,2015-05-05 23:46:03,5,0.93,-73.986732,40.755878,1,N,-73.990959,40.749981,1,7.0,0.5,0.5,2.49,0.00,0.3,10.79
5,1,2015-05-05 23:37:41,2015-05-05 23:50:34,3,2.40,-73.989326,40.756599,1,N,-73.979584,40.735363,2,11.0,0.5,0.5,0.00,0.00,0.3,12.30
6,1,2015-05-05 23:37:42,2015-05-05 23:41:51,1,1.30,-73.955544,40.776722,1,N,-73.941338,40.788120,2,6.0,0.5,0.5,0.00,0.00,0.3,7.30
7,2,2015-05-05 23:37:42,2015-05-05 23:53:25,1,3.70,-73.992210,40.729187,1,N,-73.960396,40.775631,1,15.0,0.5,0.5,3.26,0.00,0.3,19.56
8,2,2015-05-05 23:37:42,2015-05-05 23:52:53,2,7.84,-73.987740,40.740860,1,N,-73.873169,40.723091,1,23.5,0.5,0.5,6.07,5.54,0.3,36.41
9,2,2015-05-05 23:37:42,2015-05-05 23:48:25,3,2.36,-73.987999,40.743996,1,N,-73.998528,40.717003,2,10.0,0.5,0.5,0.00,0.00,0.3,11.30
10,2,2015-05-05 23:37:42,2015-05-05 23:41:37,1,1.35,-73.971039,40.757938,1,N,-73.980652,40.742249,2,6.0,0.5,0.5,0.00,0.00,0.3,7.30
11,1,2015-05-05 23:37:43,2015-05-05 23:42:23,1,1.30,-73.978065,40.725159,1,N,-73.978920,40.713619,1,6.0,0.5,0.5,1.45,0.00,0.3,8.75
12,1,2015-05-05 23:37:43,2015-05-05 23:49:51,2,4.70,-73.976501,40.749886,1,N,-74.006165,40.707947,1,15.5,0.5,0.5,3.36,0.00,0.3,20.16
13,1,2015-05-05 23:37:43,2015-05-05 23:50:24,1,2.20,-73.957817,40.717800,1,N,-73.932007,40.706448,2,10.5,0.5,0.5,0.00,0.00,0.3,11.80
14,1,2015-05-05 23:37:43,2015-05-05 23:45:51,2,2.20,-73.968948,40.798847,1,N,-73.989784,40.775887,1,9.0,0.5,0.5,1.00,0.00,0.3,11.30
15,2,2015-05-05 23:37:43,2015-05-05 23:50:33,3,3.59,-73.988113,40.732143,1,N,-73.963524,40.774357,1,13.0,0.5,0.5,3.58,0.00,0.3,17.88
16,2,2015-05-05 23:37:43,2015-05-05 23:38:46,1,0.00,0.000000,0.000000,5,N,0.000000,0.000000,2,50.0,0.0,0.5,0.00,0.00,0.3,50.80
17,2,2015-05-05 23:37:43,2015-05-05 23:38:46,1,0.00,0.000000,0.000000,5,N,0.000000,0.000000,4,-50.0,0.0,-0.5,0.00,0.00,-0.3,-50.80
18,2,2015-05-05 23:37:43,2015-05-05 23:51:22,1,2.50,-73.971695,40.754551,1,N,-73.949577,40.785343,2,12.5,0.5,0.5,0.00,0.00,0.3,13.80
19,1,2015-05-05 23:37:44,2015-05-05 23:57:01,2,2.80,-73.988914,40.718971,1,N,-73.994186,40.703239,1,14.0,0.5,0.5,3.05,0.00,0.3,18.35
20,1,2015-05-05 23:37:44,2015-05-05 23:51:46,1,3.20,-73.989250,40.758499,1,N,-73.991066,40.727680,1,12.5,0.5,0.5,2.75,0.00,0.3,16.55
21,2,2015-05-05 23:37:44,2015-05-05 23:43:06,1,1.39,-73.952141,40.777485,1,N,-73.960373,40.761742,2,6.0,0.5,0.5,0.00,0.00,0.3,7.30
22,2,2015-05-24 15:38:34,2015-05-24 16:04:05,1,5.25,-73.994263,40.751228,1,N,-73.940079,40.797821,1,20.5,0.0,0.5,4.26,0.00,0.3,25.56
23,2,2015-05-24 15:38:34,2015-05-24 15:43:17,5,0.76,-73.990417,40.718861,1,N,-73.982658,40.723282,1,5.5,0.0,0.5,0.00,0.00,0.3,6.30
24,2,2015-05-24 15:38:34,2015-05-24 15:43:55,1,1.21,-73.939163,40.805420,1,N,-73.952652,40.791451,2,6.0,0.0,0.5,0.00,0.00,0.3,6.80
25,2,2015-05-24 15:38:34,2015-05-24 15:55:20,1,3.18,-73.954605,40.714050,1,N,-73.988518,40.696846,1,13.0,0.0,0.5,2.76,0.00,0.3,16.56
26,1,2015-05-24 15:38:35,2015-05-24 15:57:56,3,6.00,-74.004105,40.707306,1,N,-73.973122,40.764107,1,21.0,0.0,0.5,4.35,0.00,0.3,26.15
27,1,2015-05-24 15:38:35,2015-05-24 15:43:33,1,0.50,-73.991501,40.750019,1,N,-73.985870,40.750420,2,5.0,0.0,0.5,0.00,0.00,0.3,5.80
28,1,2015-05-24 15:38:35,2015-05-24 15:54:36,3,6.00,-74.013222,40.702339,1,N,-73.977341,40.757854,2,19.5,0.0,0.5,0.00,0.00,0.3,20.30
29,2,2015-05-24 15:38:35,2015-05-24 15:52:26,1,4.36,-74.005478,40.728294,1,N,-73.981430,40.780010,2,15.0,0.0,0.5,0.00,0.00,0.3,15.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13158232,1,2015-05-21 19:43:29,2015-05-21 19:53:00,2,1.70,-73.952271,40.772549,1,N,-73.979477,40.783985,2,8.5,1.0,0.5,0.00,0.00,0.3,10.30
13158233,1,2015-05-21 19:43:29,2015-05-21 20:07:29,1,1.50,-73.978920,40.761848,1,N,-73.985916,40.750126,1,14.5,1.0,0.5,3.25,0.00,0.3,19.55
13158234,1,2015-05-21 19:43:29,2015-05-21 19:56:39,1,1.90,-73.963631,40.777184,1,N,-73.983269,40.767529,1,10.5,0.5,0.5,2.95,0.00,0.3,14.75
13158235,2,2015-05-21 19:43:29,2015-05-21 20:03:44,6,2.90,-73.986389,40.753700,1,N,-73.994530,40.722172,1,14.5,1.0,0.5,3.26,0.00,0.3,19.56
13158236,2,2015-05-21 19:43:29,2015-05-21 19:45:39,1,0.37,-73.984909,40.727982,1,N,-73.988869,40.731380,2,3.5,1.0,0.5,0.00,0.00,0.3,5.30
13158237,1,2015-05-21 19:43:30,2015-05-21 19:57:57,1,2.60,-73.956238,40.767361,1,N,-73.972038,40.792301,2,12.0,1.0,0.5,0.00,0.00,0.3,13.80
13158238,1,2015-05-21 19:43:30,2015-05-21 19:47:42,1,0.80,-73.961433,40.774925,1,N,-73.968613,40.764729,1,5.5,1.0,0.5,2.15,0.00,0.3,9.45
13158239,1,2015-05-21 19:43:30,2015-05-21 20:00:29,1,2.10,-73.983795,40.737408,1,N,-73.978142,40.761890,2,12.5,1.0,0.5,0.00,0.00,0.3,14.30
13158240,1,2015-05-21 19:53:11,2015-05-21 19:59:33,1,1.20,-73.972023,40.765663,1,N,-73.962212,40.775425,1,6.5,1.0,0.5,1.65,0.00,0.3,9.95
13158241,1,2015-05-21 19:53:11,2015-05-21 19:57:37,1,1.10,-73.961342,40.760700,1,N,-73.955513,40.772861,1,5.5,1.0,0.5,1.45,0.00,0.3,8.75
13158242,1,2015-05-21 19:53:11,2015-05-21 20:05:57,3,2.20,0.000000,0.000000,1,N,0.000000,0.000000,1,11.0,1.0,0.5,2.50,0.00,0.3,15.30
13158243,1,2015-05-21 19:53:11,2015-05-21 19:55:31,1,0.30,-73.948189,40.774578,1,N,-73.952759,40.772575,2,4.0,1.0,0.5,0.00,0.00,0.3,5.80
13158244,1,2015-05-21 19:53:11,2015-05-21 19:56:29,1,0.70,-73.962509,40.767265,1,N,-73.956001,40.776192,1,4.5,1.0,0.5,1.26,0.00,0.3,7.56
13158245,1,2015-05-21 19:53:11,2015-05-21 19:56:34,1,0.70,-73.975693,40.751766,1,N,-73.980423,40.743305,2,4.5,1.0,0.5,0.00,0.00,0.3,6.30
13158246,1,2015-05-21 19:53:11,2015-05-21 20:16:20,1,5.90,-73.990608,40.738773,1,N,-73.967453,40.793758,1,21.5,0.5,0.5,4.55,0.00,0.3,27.35
13158247,2,2015-05-21 19:53:11,2015-05-21 20:19:59,2,13.82,-73.981468,40.732815,1,N,-73.898430,40.898487,1,38.0,1.0,0.5,9.95,0.00,0.3,49.75
13158248,2,2015-05-21 19:53:11,2015-05-21 20:02:51,1,0.95,-73.972832,40.744286,1,N,-73.984718,40.751293,1,7.5,1.0,0.5,1.86,0.00,0.3,11.16
13158249,2,2015-05-21 19:53:11,2015-05-21 20:05:18,1,2.23,-73.986984,40.770714,1,N,-73.967560,40.792850,1,10.5,1.0,0.5,2.20,0.00,0.3,14.50
13158250,2,2015-05-21 19:53:11,2015-05-21 20:10:16,1,1.69,-73.991562,40.737652,1,N,-74.001915,40.732231,1,11.5,1.0,0.5,1.00,0.00,0.3,14.30
13158251,2,2015-05-21 19:53:11,2015-05-21 19:58:13,1,1.57,-74.008560,40.732761,1,N,-74.015984,40.715134,1,6.5,1.0,0.5,1.50,0.00,0.3,9.80
13158252,1,2015-05-21 19:53:12,2015-05-21 19:59:32,1,0.70,-73.985313,40.759525,1,N,-73.996689,40.763180,2,6.0,1.0,0.5,0.00,0.00,0.3,7.80
13158253,1,2015-05-21 19:53:12,2015-05-21 19:56:39,1,0.50,-73.984077,40.725655,1,N,-73.985039,40.720371,2,4.5,1.0,0.5,0.00,0.00,0.3,6.30
13158254,1,2015-05-21 19:53:12,2015-05-21 20:20:31,3,2.60,-73.980019,40.765453,1,N,-73.990913,40.733913,1,17.5,1.0,0.5,2.00,0.00,0.3,21.30
13158255,1,2015-05-21 19:53:12,2015-05-21 20:05:40,1,2.90,-74.014488,40.703331,1,N,-74.007217,40.741299,1,12.5,0.5,0.5,2.75,0.00,0.3,16.55
13158256,2,2015-05-21 19:53:12,2015-05-21 20:07:01,2,2.10,-73.974403,40.736832,1,N,-73.984604,40.728783,1,11.0,1.0,0.5,2.56,0.00,0.3,15.36
13158257,2,2015-05-21 19:53:12,2015-05-21 20:09:48,1,3.42,-74.006157,40.714066,1,N,-73.983795,40.751007,1,14.0,1.0,0.5,3.16,0.00,0.3,18.96
13158258,1,2015-05-21 19:53:13,2015-05-21 20:00:59,1,0.90,-73.983887,40.760014,1,N,-73.973198,40.764046,2,6.5,1.0,0.5,0.00,0.00,0.3,8.30
13158259,2,2015-05-21 19:53:13,2015-05-21 19:58:08,1,0.90,-73.981049,40.741798,1,N,-73.973709,40.752155,1,5.5,1.0,0.5,1.00,0.00,0.3,8.30
13158260,2,2015-05-21 19:53:13,2015-05-21 20:29:38,1,9.24,-73.976608,40.759380,1,N,-74.014328,40.676208,1,30.5,1.0,0.5,0.00,0.00,0.3,32.30
13158261,2,2015-05-21 19:53:13,2015-05-21 20:16:28,1,2.37,-73.989906,40.751919,1,N,-73.999336,40.723236,1,16.0,1.0,0.5,1.00,0.00,0.3,18.80