In [13]:
import pandas as pd 
lookup_cluster = pd.read_csv('lookup.csv')
currentCell = '12:15'
current_cluster = int(lookup_cluster[lookup_cluster['cell'] == currentCell]['cluster'])
current_cluster

13

In [39]:
lookup_table = pd.read_csv('lookup_Mon.csv')
density = lookup_table['h12_density'][current_cluster]
density

'low'

In [20]:
lookup_table

,cluster,h12_trip_rate,h12_density,h12_top_cell,h13_trip_rate,h13_density,h13_top_cell,h14_trip_rate,h14_density,h14_top_cell,...,h20_top_cell,h21_trip_rate,h21_density,h21_top_cell,h22_trip_rate,h22_density,h22_top_cell,h23_trip_rate,h23_density,h23_top_cell
0,0,37.600000,high,27:77,37.483333,high,27:77,39.166667,high,27:77,...,27:77,90.250000,high,27:77,96.800000,high,28:73,90.583333,high,28:73
1,1,0.000000,low,NaN,0.000000,low,NaN,0.000000,low,NaN,...,NaN,0.000000,low,NaN,0.000000,low,NaN,0.000000,low,NaN
2,2,0.466667,median,50:90,0.500000,median,50:90,0.583333,median,50:90,...,50:90,0.866667,median,50:90,0.650000,median,50:90,0.466667,median,47:95
3,3,0.016667,low,30:26,0.033333,low,36:30,0.066667,low,34:27,...,34:29,0.033333,median,37:30,0.016667,low,33:31,0.000000,low,NaN
4,4,0.000000,low,NaN,0.000000,low,NaN,0.000000,low,NaN,...,NaN,0.000000,low,NaN,0.000000,low,NaN,0.000000,low,NaN
5,5,562.766667,high,26:64,571.066667,high,26:64,573.316667,high,26:64,...,26:64,926.266667,high,27:64,837.350000,high,25:66,610.250000,high,25:66
6,6,0.000000,low,NaN,0.000000,low,NaN,0.000000,low,NaN,...,NaN,0.000000,low,NaN,0.000000,low,NaN,0.000000,low,NaN
7,7,0.000000,low,NaN,0.016667,low,31:91,0.000000,low,NaN,...,NaN,0.000000,low,NaN,0.033333,low,24:96,0.000000,low,NaN
8,8,0.100000,median,63:49,0.100000,median,61:51,0.150000,median,57:39,...,70:39,0.000000,low,NaN,0.066667,median,61:46,0.066667,median,70:39
9,9,0.000000,low,NaN,0.000000,low,NaN,0.000000,low,NaN,...,NaN,0.000000,low,NaN,0.000000,low,NaN,0.000000,low,NaN
10,10,44.066667,high,41:50,45.466667,high,41:50,46.766667,high,41:50,...,41:50,63.233333,high,41:50,62.916667,high,41:50,56.833333,high,41:50
11,11,0.000000,low,NaN,0.000000,low,NaN,0.000000,low,NaN,...,NaN,0.000000,low,NaN,0.000000,low,NaN,0.000000,low,NaN
12,12,3.083333,median,72:59,4.333333,median,72:59,3.666667,median,60:54,...,60:54,4.850000,median,60:54,5.600000,median,60:54,5.800000,median,70:61
13,13,0.000000,low,NaN,0.000000,low,NaN,0.000000,low,NaN,...,NaN,0.000000,low,NaN,0.000000,low,NaN,0.000000,low,NaN
14,14,13.466667,high,22:47,13.250000,high,22:47,13.000000,high,22:47,...,22:47,11.550000,high,22:47,11.016667,high,22:47,10.266667,high,22:47

In [16]:
import pandas as pd
import datetime
datetime_object = datetime.datetime.now()

In [17]:
calendar.day_name(datetime_object)

NameError: name 'calendar' is not defined